@import url(http://fonts.googleapis.com/css?family=Lato:100,300);

body {
	width: 100%;
	height: 100%;
}

.sky {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-image: linear-gradient(#000000, #1E0019, #22001D);
	overflow: hidden;
}

.firework {
	position: absolute;
	display: block;
	border-radius: 50%;
	opacity: 0;
}

.message {
	position: absolute;
	display: block;
	width: 800px;
	top: 10%;
	left: 50%;
	margin-left: -400px;
	text-align: center;
	z-index: 300;

	@media screen and (max-width: 480px) {
		font-size: 75px;
		width: 300px;
		margin-left: -150px;
		top: 20%;
	}
}

.message h1 {
	margin: 0;
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-size: 200px;
	font-weight: 100;
	color: white;
	letter-spacing: 20px;

	@media screen and (max-width: 480px) {
		font-size: 75px;
	}
}

.city {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	height: 60px;
	width: 100%;
	background: url(../images/city.png);
	z-index: 300;
}

.cloud {
	position: absolute;
	display: block;

	&.one {
		top: 25%;
		left: 10%;
		animation: cloud_to_right 90s linear;
		-webkit-animation: cloud_to_right 90s linear;
		-moz-animation: cloud_to_right 90s linear;
		z-index: 100;
		opacity: .4;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.two {
		top: 20%;
		left: 70%;
		animation: cloud_to_left 90s linear;
		-webkit-animation: cloud_to_left 90s linear;
		-moz-animation: cloud_to_left 90s linear;
		z-index: 150;
		opacity: .6;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.three {
		top: 40%;
		left: 30%;
		animation: cloud_to_right 120s linear;
		-webkit-animation: cloud_to_right 120s linear;
		-moz-animation: cloud_to_right 120s linear;
		z-index: 200;
		opacity: .8;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.four {
		top: 50%;
		left: 80%;
		animation: cloud_to_left 60s linear;
		-webkit-animation: cloud_to_left 60s linear;
		-moz-animation: cloud_to_left 60s linear;
		z-index: 250;
		opacity: .2;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.five {
		top: 60%;
		left: 105%;
		animation: cloud_to_left 50s linear;
		-webkit-animation: cloud_to_left 50s linear;
		-moz-animation: cloud_to_left 50s linear;
		z-index: 200;
		opacity: .8;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.six {
		top: 45%;
		left: 0%;
		animation: cloud_to_right 80s linear;
		-webkit-animation: cloud_to_right 80s linear;
		-moz-animation: cloud_to_right 80s linear;
		z-index: 150;
		opacity: .7;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.seven {
		top: 30%;
		left: 95%;
		animation: cloud_to_left 80s linear;
		-webkit-animation: cloud_to_left 80s linear;
		-moz-animation: cloud_to_left 80s linear;
		z-index: 200;
		opacity: .8;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.eight {
		top: 55%;
		left: 5%;
		animation: cloud_to_right 45s linear;
		-webkit-animation: cloud_to_right 45s linear;
		-moz-animation: cloud_to_right 45s linear;
		z-index: 250;
		opacity: .6;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}

	&.nine {
		top: 65%;
		left: 85%;
		animation: cloud_to_left 45s linear;
		-webkit-animation: cloud_to_left 45s linear;
		-moz-animation: cloud_to_left 45s linear;
		z-index: 200;
		opacity: .7;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
	}
}


@-webkit-keyframes explosion {
	0% {
		opacity: .8;
	}

	100% {
		opacity: 0;
	}
}

@-webkit-keyframes cloud_to_right {
	0% {
		/*left: 20%;*/
	}

	100% {
		left: 100%;
	}
}

@-webkit-keyframes cloud_to_left {
	0% {
		/*left: 70%;*/
	}

	100% {
		left: -400px;
	}
}

@-moz-keyframes explosion {
	0% {
		opacity: .8;
	}

	100% {
		opacity: 0;
	}
}

@-moz-keyframes cloud_to_right {
	0% {
		/*left: 20%;*/
	}

	100% {
		left: 100%;
	}
}

@-moz-keyframes cloud_to_left {
	0% {
		/*left: 70%;*/
	}

	100% {
		left: -400px;
	}
}